@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Inter&family=Inter+Tight:wght@200&display=swap');

.logo{
    letter-spacing: 0px;
    line-height: 20px;
    font-family: 'Cinzel Decorative', serif;
}
.restaurant{
    letter-spacing: 3px;
}
/* App.css */
.nav-item {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: white; /* Default color */
  }
  
  .nav-item.active {
    color: black; /* Change to the desired color when active */
    background-color: white;
    border-radius: 10px;
  }
  